<%- include("./partials/header.ejs") %>

    <h1>Contact Us</h1>

    <% if (username) { %>
        <h3>Thanks for your message <%= username %></h3>
    <% } %>

    <form action="/contact_us">
        <label for="username">Username</label><br />
        <input type="text" name="username" />

        <input type="submit" value="Submit" />
    </form>

    
<%- include("./partials/footer.ejs") %>